{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href='{% url "logout" %}'>Logout</a>
{% else %}
<a href='{% url "login" %}'>Login</a>
{% endif %}

<hr>
<h1>My To Do list</h1>
<a href="{% url 'task-create' %}">Add Tasks</a>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in object_list %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Complete</a></td>
        
    </tr>
    {% empty %}
    {% endfor %}
</table>
<td><a href="{% url 'timer' %}">Timer</a></td>